{% extends 'base.html' %}

{% block content %}
    {% if query %}
        <h2>{{ page.object_list|length }} Search Result(s) for "{{ query }}"</h2>
        <h3>Principals: {{ result_count.principal }}</h3>
        {% if result_count.principal %}
            {% for result in page.object_list %}
                {% if result.content_type == "lobbyingph.principal" %}
                    <p>
                        <a href="/principals/{{ result.object.id }}">{{ result.object.name }}</a>
                    </p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p><i>No results</i></p>
        {% endif %}
        <h3>Lobbyists: {{ result_count.lobbyist }}</h3>
         {% if result_count.lobbyist %}
            {% for result in page.object_list %}
                {% if result.content_type == "lobbyingph.lobbyist" %}
                    <p>
                        <a href="/lobbyists/{{ result.object.id }}">{{ result.object.name }}</a>
                    </p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p><i>No results</i></p>
        {% endif %}
        <h3>Firms: {{ result_count.firm }}</h3>
        {% if result_count.firm %}
            {% for result in page.object_list %}
                {% if result.content_type == "lobbyingph.firm" %}
                    <p>
                        <a href="/firms/{{ result.object.id }}">{{ result.object.name }}</a>
                    </p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p><i>No results</i></p>
        {% endif %}
    {% else %}
        <h2>Search</h2>
        Enter a query in the above "Search" field and click search. Try searching for a principal or lobbyist by name. For example, "PECO" or "John".
    {% endif %}
    
{% endblock %}