{% extends "base.html" %}
{% load humanize %}

{% block content %}
  <div class="container">
    <div class="index-header">
        <div class="intro">
            <p>
                Beginning in 2012, organizations paying for lobbying services in Philadelphia are required to register and file quarterly reports of their expenses with the City of Philadelphia Board of Ethics. This site seeks to catalog that data, make it more accessible, and host visualizations to help citizens better understand the influence of lobbying in Philadelphia.
            </p>
            <p>
                <h2>Total spent on lobbying through March 2012: ${{ total_spending|intcomma }}</h2>
            </p>
        </div>
        <div class="tally">
            <div>
                <h4>Lobbyists</h4>
                <h2><a href="/lobbyists">{{ lobbyist_count }}</a></h2>
            </div>
            <div>
                <h4>Firms</h4>
                <h2><a href="/firms">{{ firm_count }}</a></h2>
            </div>
            <div>
                <h4>Principals</h4>
                <h2><a href="/principals">{{ principal_count }}</a></h2>
            </div>
        </div>
    </div>
    <div class="totals">
        <div>
            <h3>Top Firms</h3>
            <ul class="bar-graph">
                {% for f in top_firms %}
                    <li>
                        <a href="/firms/{{ f.object.id }}">{{ f.object.name }}</a>
                        <span class="total">
                            <span class="percentage" style="width: {{ f.percent }};">
                                <em>{{ f.count }}</em>
                            </span>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Top Principals ($)</h3>
            <ul class="bar-graph">
                {% for p in top_principals_by_spending %}
                    <li>
                        <a href="/principals/{{ p.object.id }}">{{ p.object.name }}</a>
                        <span class="total">
                            <span class="percentage" style="width: {{ p.percent }};">
                                <em>${{ p.count|intcomma }}</em>
                            </span>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Top Principals (Issues/Bills Lobbied)</h3>
            <ul class="bar-graph">
                {% for p in top_principals_by_issues_bills %}
                    <li>
                        <a href="/principals/{{ p.object.id }}">{{ p.object.name }}</a>
                        <span class="total">
                            <span class="percentage" style="width: {{ p.percent }};">
                                <em>{{ p.count }}</em>
                            </span>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
  </div>
{% endblock %}
