{% extends "base.html" %}

{% block head %}
  <link href="{{ STATIC_URL }}css/themes/blue/style.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  <h2 class="name">Lobbyists</h2>
  
  <div class="list-header">
    <p>Lobbyists are individuals who work for <a href="/principals">principals</a>, or for <a href="/firms">firms</a> hired by principals.</p>
  
    <div class="pager-container">
      <div id="pager" class="pager">
        <a href class="prev"/>Prev</a>
        <span class="pagedisplay"/></span>
        <a href class="next"/>Next</a>
        <select class="pagesize">
          <option selected="selected"  value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
  </div>

  <div>
    <table id="list" class="tablesorter"> 
      <thead>
        <tr>
          <th>Name</th>
          <th>Firm / Principal</th>
        <tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td><a href="{{ request.get_full_path}}{{ object.id }}">{{ object.name }}</a></td>
            <td>
              {% if object.firm %}
                <a href="/firms/{{ object.firm.id }}">{{ object.firm }}</a>
              {% elif object.principals %} 
                {% for principal in object.principals.all %}
                  <span><a href="/principals/{{ principal.id }}">{{ principal }},</a></span>
                {% endfor %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.pager.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/lobby.list.js"></script>
  <script type='text/javascript'>

    $(document).ready(function() { 
      $("#list")
        .tablesorter({
          widgets: ['zebra'],
          widthFixed: true
        }) 
        .tablesorterPager({
          container: $("#pager"),
          output: '{page} / {totalPages}',
          page: lobby.list.getPage()
        }); 
    }); 

  </script>
{% endblock %}
