{% extends "base.html" %}
{% load humanize %}

{% block head %}
    <link href="{{ STATIC_URL }}css/themes/blue/style.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  <h2 class="name">
    {{ official.first_name }} {{ official.last_name}}

    <span>{{ official.title }}, {{ official.agency }}</span>

  </h2>
  <ul class="contact">
  </ul>
  <div class="column-container">
    <div class="column">
      <h3>Topics</h3>
      <ul class="details">
        {% for topic in official.get_topics %}
          <li>{{ topic.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="filings">
    <h3>Issues / Bills / Resolutions</h3>
    {% if official.get_issues or official.get_bills %}
      <table id="issues" class="tablesorter">
        <thead> 
          <tr>
            <th>Year / Quarter</th>
            <th>Name</th>
            <th>Lobbied by</th>
            <th>Lobbyist Position</th>
            <th>Source</th>
          </tr>
        </thead>
        <tbody>
          {% for issue in official.get_issues %}
            <tr>
              <td>{{ issue.time }}</td>
              <td>{{ issue.object.description }}</td>
              <td><a href="/principals/{{ issue.principal.id }}">{{ issue.principal }}</a></td>
              <td>{{ issue.position }}</td>
              <td>
                {% for source in issue.source %} 
                  {% if not forloop.first %}, {% endif %}
                  <a href="{{ source.url }}">Document</a>
                {% endfor %}
              </td>
            </tr>   
          {% endfor %}
          {% for bill in official.get_bills %}
            <tr>
              <td>{{ bill.time }}</td>
              <td>{{ bill.object.get_bill_type_display }} No. <a href="{{ bill.object.url }}" target="_blank">{{ bill.object.number }} <i class="icon-external-link"></a></td>
              <td><a href="/principals/{{ bill.principal.id }}">{{ bill.principal }}</a></td>
              <td>{{ bill.position }}</td>
              <td>
                {% for source in bill.source %} 
                  {% if not forloop.first %}, {% endif %}
                  <a href="{{ source.url }}">Document</a>
                {% endfor %}
              </td>
            </tr>   
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>

  <div class="gifts">
    <h3>Gifts, Hospitality, Transporation Lodging</h3>
    {% if official.exp_other_set.all %}
      <table id="gifts" class="tablesorter">
        <thead>
          <tr>
            <th>Description</th>
            <th>Value</th>
            <th>Date</th>
            <th>Giver</th>
            <th>Source</th>
          </tr>
        </thead>
        <tbody>
          {% for gift in official.exp_other_set.all %}
            <tr>
              <td>{{ gift.description }}</td>
              <td>${{ gift.value }}</td>
              <td>{{ gift.date }}</td>
              <td>{{ gift.source }}</td>
              <td>
                {% for source in gift.filing.source_set.all %}
                  <a href="{{ source.url }}">{{ source.name }}</a>,
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody> 
      </table>
    {% else %}
      <i>None listed</i>
    {% endif %}
  </div>

{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
    <script type='text/javascript'>
    $(document).ready(function() { 
      $("#issues")
        .tablesorter({ 
          widgets: ['zebra'],
          sortList: [[0,1]]
        });

      $("#gifts")
        .tablesorter({ 
          widgets: ['zebra'],
          sortList: [[2,0]]
        });
    }); 
    </script>   
{% endblock %}
