{% extends "base.html" %}

{% block head %}
  <link href="{{ STATIC_URL }}css/themes/blue/style.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  <h2 class="name">City Officials</h2>
  
  <div class="list-header">
    <p>Lobbyists meet with city officials to discuss their organization's or their client's position on city issues. Note that this list is not a comprehensive list of all city officials. Also, some people that are lobbied are not actually city officials, but are on city boards or work for non-city organizations that advocate on city policy issues.</p>
  
    <div class="pager-container">
      <div id="pager" class="pager">
        <a href class="prev"/>Prev</a>
        <span class="pagedisplay"/></span>
        <a href class="next"/>Next</a>
        <select class="pagesize">
          <option selected="selected"  value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
  </div>

  <div>
    <table id="list" class="tablesorter"> 
      <thead>
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Office/Agency</th>
          <th># of Mentions in Expenditure Reports</th>
        <tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td><a href="/official/{{ object.slug }}">{{ object.first_name }} {{ object.last_name }}</a></td>
            <td>{{ object.title }}</td>
            <td>{{ object.agency.name }}</td>
            <td>{{ object.get_lobby_count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.pager.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/lobby.list.js"></script>
  <script type='text/javascript'>

    $(document).ready(function() { 
      $("#list")
        .tablesorter({
          widgets: ['zebra'],
          widthFixed: true
        }) 
        .tablesorterPager({
          container: $("#pager"),
          output: '{page} / {totalPages}',
          page: lobby.list.getPage()
        }); 
    }); 

  </script>
{% endblock %}
