{% extends "base.html" %}
{% load humanize %}

{% block head %}
    <link href="{{ STATIC_URL }}css/themes/blue/style.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  <h2 class="name">{{ principal.name }}</h2>
  <ul class="contact">
    <li class="address icon-home">{{ principal.get_address }}</li>
    <li class="phone icon-phone">{{ principal.phone }}</li>
    <li class="email icon-envelope"><a href="mailto:{{ principal.email }}">{{ principal.email }}</a></li>
  </ul>
  <div class="column-container">
    <div class="column">
      <h3>Lobbyists</h3>
      <h4>Staff</h4>
      <ul class="details">
        {% for staff in principal.lobbyist_set.all %}
          <li><a href="/lobbyists/{{ staff.id }}">{{ staff.name }}</a></li>
        {% endfor %}
        {% if not principal.lobbyist_set.all %}
          <li><i>None listed</i></li>
        {% endif %}
      </ul>
      <h4>Firm(s)</h4>
      <ul class="details">
        {% for firm in principal.get_firms %}
          <li><a href="/firms/{{ firm.id }}">{{ firm }}</a></li>
        {% endfor %}
        {% if not principal.get_firms %}
          <li><i>None listed</i></li>
        {% endif %}
      </ul>
      <h3>Topics</h3>
      <ul class="details">
        {% for topic in principal.get_topics %}
          <li>{{ topic.name }}</li>
        {% endfor %}
        {% if not principal.get_topics %}
          <li><i>None listed</i></li>
        {% endif %}
      </ul>
    </div>
    <div class="column">
      <h3>Expenditures</h3>
      <span>Total expenditures in 2012, through March 31<sup>st</sup> : <span class="total">${{ principal.get_total_exp|floatformat:2|intcomma }}</span></span>
      <div class="pie-container">
        <div id="piechart"></div>
        {% if principal.get_total_exp %}
          <div class="legend">
            <ul>
              <li><span class="color direct"></span>Direct Communication: ${{ exp_totals.direct|floatformat:2|intcomma }}</li>
              <li><span class="color indirect"></span>Indirect Communications: ${{ exp_totals.indirect|floatformat:2|intcomma }}</li>
              <li><span class="color other"></span>Gifts, Transportation, Hospitality, Lodging: ${{ exp_totals.other|floatformat:2|intcomma }}</li>
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="filings">
    <h3>Issues / Bills / Resolutions</h3>
    {% if principal.get_issues or principal.get_bills %}
      <table id="issues" class="tablesorter">
        <thead> 
          <tr>
            <th>Year / Quarter</th>
            <th>Name</th>
            <th>Position</th>
            <th>Communication Type</th>
            <th>Lobbied Officials/Agencies/Groups</th>
          </tr>
        </thead>
        <tbody>
          {% for issue, details in principal.get_issues.items %}
            <tr>
              <td>{{ details.time }}</td>
              <td>{{ issue }}</td>
              <td>{{ details.position }}</td>
              <td>{{ details.comm }}</td>
              <td>
                  {{ details.officials.all|join:", " }} 
                  {{ details.agencies.all|join:", " }}
                  {{ details.groups.all|join:", " }}
              </td>
            </tr>   
          {% endfor %}
          {% for bill, details in principal.get_bills.items %}
            <tr>
              <td>{{ details.time }}</td>
              <td>{{ bill.get_bill_type_display }} No. <a href="{{ bill.url }}" target="_blank">{{ bill }}<i class="icon-external-link"></a></td>
              <td>{{ details.position }}</td>
              <td>{{ details.comm }}</td>
              <td>
                  {{ details.officials.all|join:", " }}
                  {{ details.agencies.all|join:", " }}
                  {{ details.groups.all|join:", " }}
              </td>
            </tr>   
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <i>None listed</i>
    {% endif %}

    <h3>Source Documents</h3>
    {% if principal.filing_set.all %}
      <table id="filings" class="tablesorter">
        <thead> 
          <tr> 
            <th>Year / Quarter</th>
            <th>Direct Communication</th> 
            <th>Indirect Communication</th>
            <th>Gifts, Hospitality, Transportation, Lodging</th> 
            <th>Document Name(s)</th>
          </tr>
        </thead>
        <tbody>
          {% for filing in principal.filing_set.all %}
            <tr>
              <td>{{ filing.year|date:"Y" }}{{ filing.quarter }}</td>
              <td>${{ filing.total_exp_direct_comm|intcomma }}</td>
              <td>${{ filing.total_exp_indirect_comm|intcomma }}</td>
              <td>${{ filing.total_exp_other|intcomma }}</td>
              <td>
                  {% for source in filing.source_set.all %}
                    <a href="{{ source.url }}">{{ source.name }}</a>,
                  {% endfor %}
              </td>
            </tr>   
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <i>Nothing has been filed for this principal</i>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
    {% if principal.get_total_exp %}
      <script type='text/javascript' src="{{ STATIC_URL }}js/d3.v2.js"></script>
    {% endif %}
    <script type='text/javascript'>

    $(document).ready(function() { 
        $("#filings")
          .tablesorter({ 
            widgets: ['zebra'],
            sortList: [[0,0]]
          });

        $("#issues")
          .tablesorter({ 
            widgets: ['zebra'],
            sortList: [[0,0]]
          });

        {% if principal.get_total_exp %}

          if (typeof window.lobby === 'undefined' || !window.lobby) {
            window.lobby = {};
          }

          lobby.d3 = {};
          lobby.d3.opts = { w: 300, h: 180, r: 70 };
          lobby.d3.pie = d3.layout.pie(),
          lobby.d3.arc = d3.svg.arc().innerRadius(lobby.d3.opts.r * .5).outerRadius(lobby.d3.opts.r);

          lobby.d3.exp_data = [
                  {
                    "label": "${{ exp_totals.direct|intcomma }} (Direct)", 
                    "val": {{ exp_percents.direct }},
                    "class": 'direct'
                  }, 
                  {
                    "label": "${{ exp_totals.indirect|intcomma }} (Indirect)", 
                    "val": {{ exp_percents.indirect }},
                    "class": 'indirect'
                  }, 
                  { 
                    "label": "${{ exp_totals.other|intcomma }} (Other)", 
                    "val": {{ exp_percents.other }},
                    "class": 'other'
                  }
                ];
          
          lobby.d3.svg = d3.select("#piechart")
              .append("svg:svg") 
              .data([lobby.d3.exp_data])
                  .attr("width", lobby.d3.opts.w)
                  .attr("height", lobby.d3.opts.h);

          lobby.d3.arcs = lobby.d3.svg.selectAll("g.arc")
              .data(lobby.d3.pie.value(function(d) { return d.val }))
              .enter()
                .append("svg:g")
                  .attr("class", "arc")
                  .attr("transform", "translate(" + (lobby.d3.opts.r + 85) 
                                                + "," + (lobby.d3.opts.r + 20) + ")");

          lobby.d3.arcs.append("svg:path")
                .attr("class", function(d) { return d.data.class; })
                .attr("d", lobby.d3.arc);

          lobby.d3.arcs.append("title")
                .text(function(d) { return d.value + '%'; });

        {% endif %}
    }); 

    </script>   
{% endblock %}
