.container {
  width: 960px;
  margin: 0 auto; 
}

* {
  margin: 0;
  padding: 0; 
}

body {
  font-family: helvetica, arial, sans-serif;
  color: #555555;
  font-size: 12px; 
}
  
body h1 {
  color: #333;
  font-family:  'Nixie One', Arial, sans-serif;
}

body a {
  color: #333; 
}

body ul li {
  list-style-type: none;
}

body p {
  line-height: 18px;
}

body form fieldset {
  border: none; 
}

body form fieldset input {
  display: block;
  border: 1px solid #e5e5e5; 
}

body form fieldset button {
  display: block; 
}

header {
  background: #E6EEEE;
  display: block; 
}
  
header nav {
  display: block;
  background: #111;
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: 30px; 
}

header nav ul {
  width: 960px;
  margin: 0 auto; 
}

header nav ul li {
  font-weight: bold;
  float: left;
  margin-right: 2px; 
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  height: 20px;
  padding: 5px 7px 0 10px; 
}

header nav ul li.current a, header nav ul li a:hover {
  background: #E6EEEE;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #346983; 
}

header nav ul li a:hover {
  color: #fff;
  background: #3f80a0; 
}
  
header h1 {
  font-size: 34px;
  line-height: 36px;
  padding-bottom: 15px;
  border: none; 
}

header h1 a {
  text-decoration: none;
  color: #346983; 
}

header h1 span {
  display: block;
  font-size: 20px;
  color: #555;
  font-weight: normal; 
}
header form {
  width: 960px;
  margin: 0 auto; 
}
header form fieldset {
  margin-top: -50px;
  float: right;
}

header form fieldset input.text {
  font-style: inherit;
  font-size: 14px;
  padding: 10px;
  width: 200px;
  float: left; 
}
  
header form fieldset button {
  float: left;
  background: #efefef;
  padding: 5px;
}
  
header form fieldset button:hover {
  cursor: pointer;
}

ol.path {
  margin: 20px 5px 20px 5px;
  padding: 10px;
  list-style-type: none;
  font-size: 11px;
  line-height: 12px;
  background: antiquewhite;
}

.path li {
  display: inline;
  text-transform: uppercase;
  padding: 0px 5px;
}

div.intro {

}

.intro h1 {
  font-size: 70px;
}

.intro h2 {
  font-size: 40px;
  font-family: Helvetica, Arial;
  font-weight: normal;
}

div.tally p {
  font-size: 30px;
  line-height: 40px
}

.container.detail {
  overflow: auto;
}

h1.name {
  font-family:  'Nixie One', Arial, sans-serif;
  font-size: 45px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}

.container.detail h2 {
  font-family:  'Nixie One', Arial, sans-serif;
  font-size: 35px;
  margin-bottom: 5px;
  padding-bottom: 2px;
  text-transform: uppercase;
}

.container.detail h3 {
  font-family:  'Nixie One', Arial, sans-serif;
  font-size: 25px;
  margin-bottom: 5px;
  padding-bottom: 2px;
  text-transform: uppercase;
}

.container.detail h4 {
  font-size: 14px;
  margin: 5px 0px 5px 0px;
  padding-bottom: 2px;
  text-transform: uppercase;
  font-weight: normal;
}

.container.detail .contact {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 12px;
}

.container.detail .spending span {
  font-family:  'Nixie One', Arial, sans-serif;
  font-size: 35px;
  margin-bottom: 5px;
  padding-bottom: 2px;
  display: inline-block;
  text-transform: uppercase;
}

.container.detail .spending .total {
  font-size: 45px;
}

.container.detail .article {
  float: left;
  width: 47%;
  padding: 1%;
}

.container.detail .aside {
  float: right;
  width: 47%;
  padding: 1%;
}

.container.detail .aside ul {
  margin: 5px 0px 15px 0px;
}

.container.detail .filings {
  width: 100%;
}

footer {
  padding: 20px 0;
  display: block;
  overflow: hidden;
  background: #E6EEEE;
  border-top: 1px solid #E6EEEE;
  clear: left; 
}

footer div.column {
  float: left;
  width: 50%;
}

footer div.column h2 {
  color: #333;
  margin-bottom: 10px;
  font-family: "Droid Sans", Arial, sans-serif; 
}
    
footer div.column p {
  width: 80%;
  margin-bottom: 15px; 
}