circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
  stroke: black;
}

.node.oppose {
  fill: red;
}

.node.support {
  fill: green;
}

.node.official.agency_1 {
  fill: blue;
}

.node.official.agency_2 {
  fill: yellow;
}

.node.official.agency_3 {
  fill: grey;
}

.node.official.agency_4 {
  fill: orange;
}

.node.official.agency_5 {
  fill: purple;
}

.node.official.agency_6 {
  fill: maroon;
}


line.link {
  stroke: #999;
  stroke-opacity: .6;
}