{% extends "base.html" %}
{% load humanize %}

{% block content %}
  <h2 class="name">{{ firm.name }}</h2>
  <ul class="contact">
    <li class="address"> {{ firm.get_address }} </li>
    <li class="phone"> {{ firm.phone }} </li>
    <li class="email"> {{ firm.email }} </li>
  </ul>
  <div class="column">
    <h3>Staff</h3>
    <ul class="details">
      {% for staff in firm.lobbyist_set.all %}
        <li>
          <a href="/lobbyists/{{ staff.id }}">{{ staff.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <h3>Clients</h3>
    <ul class="details">
      {% for client in clients %}
        <li>
          <a href="/principals/{{ client.id }}">{{ client.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <h3>Topics</h3>
    <ul class="details">
      {% for topic in topics %}
        <li><a href="/topic/{{ topic.id }}">{{ topic.name }}</a></li>
      {% endfor %}
      {% if not topics %}
        <li>N/A</li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
