{% extends "base.html" %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block content %}
<ol class="path">
    <li><a href="/">Home</a></li> / 
    <li>Firms</li>
</ol>
    
    <h1 class="name">Firms</h1>
    <div class="detail container">      
        <article>  
            <div class="article">
                <p>Firms are the companies that employ lobbyists. They are paid by <a href="/principals">principals</a> to lobby on certain issues.</p>
            </div>
        </article>

        <aside>
            <div class="aside">

            </div>
        </aside>
    </div>

    <div class="filings container">

        {% include 'lobbyingph/partials/_list_table.html' %}

    </div>
{% endblock %}

{% block scripts %}
    {% include 'lobbyingph/partials/_table_scripts.html' %}  
{% endblock %}