{% extends "base.html" %}
{% load humanize %}

{% block head %}
    <link href="{{ STATIC_URL }}/css/chart.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block content %}
    <ol class="path">
        <li><a href="/">Home</a></li> / 
        <li><a href="/issues">Issues</a></li> / 
        <li>Issue Detail: {{ issue.description }}</li>
    </ol>

    <h1 class="name">{{ issue.description }}</h1>
    <div class="detail container">
        <article>
            <div class="article">
                <div id="graph">
                </div>
            </div>
        </article>

        <aside>
            <div class="aside">

            </div>
        </aside>

    </div>
{% endblock %}
{% block scripts %}
    <script type='text/javascript' src="{{ STATIC_URL }}js/d3.v2.js"></script>
    <script type='text/javascript'>
        $(document).ready(function() {
            var width = 500,
                height = 500;

            var color = d3.scale.category20();

            var force = d3.layout.force()
                .charge(-30)
                .linkDistance(60)
                .size([width, height]);

            var svg = d3.select("#graph").append("svg")
                .attr("width", width)
                .attr("height", height);

            d3.json('/api/issue/{{ issue.pk }}', function(json) {
                force
                   .nodes(json.nodes)
                   .links(json.links)
                   .start();

                var link = svg.selectAll("line.link")
                    .data(json.links)
                    .enter().append("line")
                    .attr("class", "link")
                    .style("stroke-width", function(d) { return Math.sqrt(d.value); });
             
                var node = svg.selectAll("circle.node")
                    .data(json.nodes)
                    .enter().append("circle")
                    .attr("class", "node")
                    .attr("r", function(d) { return d.size })
                    .style("fill", function(d) { return color(d.position); })
                    .call(force.drag);
             
                node.append("title")
                    .text(function(d) { return d.name; });
             
                force.on("tick", function() {
                link.attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });
             
                node.attr("cx", function(d) { return d.x; })
                    .attr("cy", function(d) { return d.y; });
                });
            });
        }); 
    </script>   
{% endblock %}