{% extends "base.html" %}
{% load humanize %}

{% block content %}
  <h2 class="name">
    {{ lobbyist.name }}

    {% if lobbyist.firm %}
        <span><a href="/firms/{{ lobbyist.firm.id }}">{{ lobbyist.firm }}</a></span>
    {% elif lobbyist.principal %}
        {% for principal in lobbyist.principal.all %}
            <span><a href="/principals/{{ principal.id }}">{{ principal }}</a></span>
        {% endfor %}
    {% endif %}
  </h2>
  <ul class="contact">
    <li class="address icon-envelope-alt">{{ lobbyist.get_address }}</li>
    <li class="phone icon-phone">{{ lobbyist.phone }}</li>
    <li class="email icon-envelope"><a href="mailto:{{ lobbyist.email }}">{{ lobbyist.email }}</a></li>
  </ul>

{% endblock %}
