{% extends "base.html" %}

{% block head %}
  <link href="{{ STATIC_URL }}css/themes/blue/style.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  <h2 class="name">Lobbyists</h2>
  <p>Lobbyists work for <a href="/firms">firms</a> hired by principals, or directly for <a href="/principals">principals</a>.</p>
  <div class="filings container">
    {% include 'lobbyingph/partials/_list_table.html' %}
  </div>
{% endblock %}

{% block scripts %}
    {% include 'lobbyingph/partials/_table_scripts.html' %}  
{% endblock %}
