{% extends "base.html" %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block content %}
<ol class="path">
    <li><a href="/">Home</a></li> / 
    <li>Principals</li>
</ol>
    
    <h1 class="name">Principals</h1>
    <div class="detail container">      
        <article>  
            <div class="article">
                <p>Principals are the companies, organizations, and groups that pay for lobbying services. They are required to fill out quarterly reports detailing their expenditures lobbying firms.</p>
            </div>
        </article>

        <aside>
            <div class="aside">

                <!--<div class="spending">
                    <div>
                        <h4>Highest Spenders</h4>
                    </div>
                </div>-->

            </div>
        </aside>
    </div>

    <div class="filings container">
        <table id="lists" class="tablesorter"> 
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                <tr>
            </thead>
            <tbody>
                {% for principal in object_list %}
                    <tr>
                        <td> <a href="/principal/{{ principal.id }}">{{ principal.name }}</a></td>
                        <td> {{ principal.phone }} </td>
                        <td>
                            {{ principal.email }} 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
    <script type='text/javascript'>

    $(document).ready(function() { 
        $("#lists").tablesorter(); 
    }); 

    </script>   
{% endblock %}