{% extends "base.html" %}

{% block content %}
    <div class="detail container">
        <ul class="lobbyists">
            <li class="lobbyist">
                <h2>{{ principal.name }}</h2>
                <ul>
                    <li class="address"> {{ principal.get_address }} </li>
                    <li class="phone"> {{ principal.phone }} </li>
                    <li class="email"> {{ principal.email }} </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="detail container">
        {% for filing in principal.filing_set.all %}
            {{ filing.quarter }}
        {% endfor %}
    </div>
{% endblock %}