{% extends "base.html" %}

{% block head %}
    <link href="{{ STATIC_URL }}css/themes/blue/style.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  <h2 class="name">Principals</h2>
  <p>Principals are the companies, organizations, and groups that pay for lobbying services. They are required to fill out quarterly reports detailing their expenditures lobbying firms.</p>
  <div class="filings container">
    {% include 'lobbyingph/partials/_list_table.html' %}
  </div>
{% endblock %}

{% block scripts %}
    {% include 'lobbyingph/partials/_table_scripts.html' %}  
{% endblock %}
