/* line 3, ../../../compass/sass/content.scss */
.content {
  padding: 20px 0;
  overflow: hidden;
  min-height: 400px;
}
/* line 8, ../../../compass/sass/content.scss */
.content h3 {
  padding-top: 5px;
  margin-top: 6px;
  font-weight: bold;
  width: 90%;
  border-top: 1px solid #CCC;
}

/* line 18, ../../../compass/sass/content.scss */
.index-header {
  height: 270px;
}

/* line 22, ../../../compass/sass/content.scss */
.intro {
  float: left;
  width: 70%;
}
/* line 26, ../../../compass/sass/content.scss */
.intro .spent {
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
}
/* line 32, ../../../compass/sass/content.scss */
.intro p {
  font-size: 18px;
  line-height: 30px;
}
/* line 37, ../../../compass/sass/content.scss */
.intro a {
  font-size: 18px;
}

/* line 42, ../../../compass/sass/content.scss */
.tally {
  float: left;
  width: 26%;
  padding: 0px 0px 5px 38px;
}
/* line 47, ../../../compass/sass/content.scss */
.tally h2 a {
  font-size: 29px;
}
/* line 51, ../../../compass/sass/content.scss */
.tally h3 {
  width: 100%;
}

/* line 56, ../../../compass/sass/content.scss */
.top-fives {
  width: 100%;
}
/* line 60, ../../../compass/sass/content.scss */
.top-fives .column-1 {
  display: inline-block;
  width: 55%;
}
/* line 64, ../../../compass/sass/content.scss */
.top-fives .column-1 div {
  width: 46%;
  margin-right: 17px;
  display: inline-block;
}
/* line 71, ../../../compass/sass/content.scss */
.top-fives .column-2 {
  display: inline-block;
  width: 44%;
}
/* line 76, ../../../compass/sass/content.scss */
.top-fives h3 {
  width: 100%;
}

/* line 81, ../../../compass/sass/content.scss */
.total {
  font-weight: bold;
}

/* line 85, ../../../compass/sass/content.scss */
.pie-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* pie chart slice classes */
}
/* line 91, ../../../compass/sass/content.scss */
.pie-container .direct {
  fill: #ff7f0e;
}
/* line 95, ../../../compass/sass/content.scss */
.pie-container .indirect {
  fill: #ffbb78;
}
/* line 99, ../../../compass/sass/content.scss */
.pie-container .other {
  fill: #d9d9d9;
}
/* line 103, ../../../compass/sass/content.scss */
.pie-container .color {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 5px;
}
/* line 109, ../../../compass/sass/content.scss */
.pie-container .color.direct {
  background-color: #ff7f0e;
}
/* line 113, ../../../compass/sass/content.scss */
.pie-container .color.indirect {
  background-color: #ffbb78;
}
/* line 117, ../../../compass/sass/content.scss */
.pie-container .color.other {
  background-color: #d9d9d9;
}

/* line 123, ../../../compass/sass/content.scss */
.list-header {
  overflow: hidden;
}
/* line 126, ../../../compass/sass/content.scss */
.list-header p {
  width: 50%;
  display: inline-block;
  float: left;
  margin-bottom: 0px;
}

/* line 134, ../../../compass/sass/content.scss */
.contact {
  padding-bottom: 8px;
  margin-bottom: 8px;
}
/* line 138, ../../../compass/sass/content.scss */
.contact li {
  margin-bottom: 5px;
}

/* line 143, ../../../compass/sass/content.scss */
.details {
  margin-bottom: 15px;
  font-weight: bold;
}
/* line 147, ../../../compass/sass/content.scss */
.details a {
  font-weight: bold;
}

/* line 153, ../../../compass/sass/content.scss */
.bar-graph li {
  margin-bottom: 15px;
  font-weight: bold;
}
/* line 158, ../../../compass/sass/content.scss */
.bar-graph .total {
  width: 100%;
  height: 30px;
  background: #eeeeee;
  display: block;
  position: relative;
  margin-top: 5px;
}
/* line 167, ../../../compass/sass/content.scss */
.bar-graph .percentage {
  position: absolute;
  height: 30px;
  background: lightblue;
  display: block;
  line-height: 40px;
}
/* line 174, ../../../compass/sass/content.scss */
.bar-graph .percentage em {
  color: #333333;
  text-align: right;
  display: block;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
}
