/* line 3, ../../../compass/sass/footer.scss */
footer {
  padding-top: 15px;
  border-top: 2px solid #333333;
}
/* line 6, ../../../compass/sass/footer.scss */
footer #footer {
  margin-bottom: 15px;
}
/* line 10, ../../../compass/sass/footer.scss */
footer .mail {
  float: right;
}
/* line 15, ../../../compass/sass/footer.scss */
footer h3 {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
}
