/* line 3, ../../../compass/sass/header.scss */
header {
  padding-top: 20px;
}
/* line 6, ../../../compass/sass/header.scss */
header h1 {
  float: left;
  overflow: hidden;
  margin-bottom: 10px;
  width: 50%;
  padding-top: 5px;
}
/* line 13, ../../../compass/sass/header.scss */
header h1 a {
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
  line-height: 20px;
}
/* line 19, ../../../compass/sass/header.scss */
header h1 a:hover {
  text-decoration: none;
}
/* line 23, ../../../compass/sass/header.scss */
header h1 a span {
  display: block;
  color: #666666;
}
/* line 31, ../../../compass/sass/header.scss */
header .utility-nav {
  float: right;
  margin-top: 20px;
}
/* line 35, ../../../compass/sass/header.scss */
header .utility-nav ul li {
  display: inline-block;
  margin-left: 15px;
}
/* line 39, ../../../compass/sass/header.scss */
header .utility-nav ul li a {
  font-size: 11px;
  font-weight: bold;
  color: #666666;
}
/* line 47, ../../../compass/sass/header.scss */
header section {
  clear: both;
  border-top: 2px solid #333333;
}
/* line 51, ../../../compass/sass/header.scss */
header section .search {
  float: right;
  overflow: hidden;
}
/* line 55, ../../../compass/sass/header.scss */
header section .search input {
  display: inline;
  font-size: 12px;
  margin-top: 5px;
  padding: 2px 10px;
}
/* line 62, ../../../compass/sass/header.scss */
header section .search input[type="text"] {
  border: 1px solid #cccccc;
}
/* line 66, ../../../compass/sass/header.scss */
header section .search input[type="submit"] {
  margin: 8px 5px;
}
/* line 70, ../../../compass/sass/header.scss */
header section .search .icon-search {
  font-size: 25px;
  padding: 5px 0;
}
/* line 75, ../../../compass/sass/header.scss */
header section .search .icon-search:before {
  color: #ccc;
}
/* line 80, ../../../compass/sass/header.scss */
header section .primary-nav {
  clear: left;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
  height: 35px;
}
/* line 86, ../../../compass/sass/header.scss */
header section .primary-nav ul li {
  float: left;
}
/* line 89, ../../../compass/sass/header.scss */
header section .primary-nav ul li a {
  display: block;
  line-height: 35px;
  float: left;
  font-weight: bold;
  margin-right: 20px;
  position: relative;
}
/* line 98, ../../../compass/sass/header.scss */
header section .primary-nav ul li a.current:before {
  content: '.';
  text-indent: -50000px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #333333;
}
/* line 113, ../../../compass/sass/header.scss */
header section .primary-nav ul li a:hover {
  text-decoration: none;
}
/* line 116, ../../../compass/sass/header.scss */
header section .primary-nav ul li a:hover:before {
  content: '.';
  text-indent: -50000px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #cccccc;
}
